
adfadfadfa 


<cdk-virtual-scroll-viewport [itemSize]="10" style="height: 500px; width:820px">

    <table class="bm" style="width: 800px">

    <tr  *cdkVirtualFor="let xSancion of sancionList; let i = index" #row_{{i}}  >
        <td style="border: solid 1px #f16f6f;">{{i+1}}</td>
        <td style="border: solid 1px #f16f6f; text-align:center">
            {{xSancion.nombreDirTerritorial}}
        </td>

        <td style="border: solid 1px #f16f6f; ">
           
            {{xSancion.cantidad}}
        </td>
        <td style="border: solid 1px #f16f6f; ">
           
            {{xSancion.valorSanciones}}
        </td>       
    </tr>

    </table>
</cdk-virtual-scroll-viewport>