<p>Ministerio de Trabajo .</p>
<table>
    <tr  style="vertical-align:top">
        <td>
    <table>
        
        <tr>    
            <td>&nbsp;&nbsp;&nbsp;</td>  <td>Inicio</td>     
            <td>
            <mat-form-field color="accent" appearance="fill">
                <mat-label>Radicación Proceso</mat-label>
                <input matInput [matDatepicker]="fecha_ini">
                <mat-datepicker-toggle matSuffix [for]="fecha_ini"></mat-datepicker-toggle>
                <mat-datepicker #fecha_ini></mat-datepicker>
            </mat-form-field>    

            </td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;</td>  <td>Fin</td>   
            <td>
                <mat-form-field color="accent" appearance="fill">
                <mat-label>Radicación Proceso</mat-label>
                <input matInput [matDatepicker]="fecha_fin">
                <mat-datepicker-toggle matSuffix [for]="fecha_fin"></mat-datepicker-toggle>
                <mat-datepicker #fecha_fin></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
        <tr>   
            <td> &nbsp; </td>
            <td>&nbsp;</td>
            <td>            
                <button mat-stroked-button color="primary" (click)="exportAsXLSX()"  >Exportar a Excel</button>
            </td>
        </tr>
        <tr>   
            <td> &nbsp; </td>
            <td>&nbsp;</td>
            <td>                
                <button mat-stroked-button color="primary" (click)="consultaSancion()"  >Exportar a Excel</button>
            </td>
        </tr>
        </table>
        </td>
        <td >
            <mat-card id="card" style="text-align: left;">
            <mat-card-content>
            <table>
                <tr>
                    <td><input type="radio">Semanal</td>
                </tr>
                <tr>
                    <td><input type="radio">Mensual</td>
                </tr>
                <tr>
                    <td><input type="radio">Trimestral</td>
                </tr>
                <tr>
                    <td><input type="radio">Semestral</td>
                </tr>
                <tr>
                    <td><input type="radio">Anual</td>
                </tr>
                <tr>
                    <td> <button mat-raised-button color="primary" (click)="totalSancion()" style="margin-right:5px;" >Total Sanción</button>                    
                    </td>
                    
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
        </td>
        <td >
            <mat-card id="card" style="text-align: left;">
            <mat-card-content>
            <table>
                <tr>
                    <td><input type="radio">Renuencia</td>
                </tr>
                <tr>
                    <td><input type="radio">Procedimiento Administrativo Sancionatorio</td>
                </tr>
                <tr>
                    <td><input type="radio">Averiguación Preliminar</td>
                </tr>
                <tr>
                    <td><input type="radio">Función Preventiva</td>
                </tr>
                <tr>
                    <td><input type="radio">Por Parámetros Específicos</td>
                </tr>
                <tr>
                    <td> <button mat-raised-button color="primary" (click)="estadoProceso()" style="margin-right:5px;" >Estado Proceso</button>                    
                    </td>
                    
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
        </td>
    </tr>
</table>

<div *ngIf="consulta == 1">Consulta 1</div>

<div *ngIf="consulta == 2">Consulta 2
    <app-consTotSancion></app-consTotSancion>
</div>

<div *ngIf="consulta == 3">Consulta 3 EStado del proceso
    <app-consEstProceso></app-consEstProceso>
</div>

