@import '~@angular/material/prebuilt-themes/indigo-pink.css';



body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  margin: 2em;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}




/* You can add global styles to this file, and also import other style files */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }

 