<div class="container" *ngIf="ready">
  <div class="row justify-content-center">
    <h1>Dashboard - Inicio</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <div class=" row justify-content-center">
        <h4>Expedientes</h4>
      </div>
      <div class="chart-wrapper">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
      </div>
      <div class="row justify-content-center">
        <h4>Total: {{dashboard.total}}</h4>
      </div>
    </div>
    <div class="col-8">
      <div class=" row justify-content-center">
        <h4>Naturaleza</h4>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">
          <div class=" row justify-content-center">
            <h5>RL</h5>
          </div>
          <hr>
          <div class=" row justify-content-center">
            <h6>Total despacho: {{dashboard.despacho}}</h6>
          </div>
        </div>
        <div class="col-9">
          <div class=" row justify-content-center">
            <h5>NL</h5>
          </div>
          <hr>
          <div class="chart-wrapper">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <div class=" row justify-content-center">
        <h4>Total de expedientes con caducidad: <strong>{{dashboard.expedientesConCaducidad}}</strong></h4>
      </div>
      <div class="chart-wrapper">
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    </div>
  </div>


</div>
